.App {
  text-align: center;
  background-color:#000000;
}

body {
  background-color: #000000;
  color: white;
}

.title {
  color: #f7931a;
  font-size: 40px;
}

/**** NAVBAR ****/

.MyNavBar{
  display: flex;
  flex-direction: row;
 

} 

.nav-links .selected{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  justify-content: space-between;
  
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-end;
  
}


.nav-profile-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
  
}

.navbar-nav{
  right: 60px;
  position: fixed;
}




/**** FOOTER ****/

.MyFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 60px;
  line-height: 60px;
  background-color: #000000;
}

.FooterContainer{
  display: flex;
  text-align: center;
}


/**** HOME PAGE ****/

.logoHomePage{
  display: flex;
  align-content: flex-end;

}

.alertMessage {
  width: 200px;
  height: 50px;
  font-size: 12px;
}

/**** DASHBOARD ****/

.firstLevelDashboard{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px 40px 20px 50px;
  
}

.secondLevelDashboard{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 70px ;

}

.dashboardAccordeon{
  width: 600px;
 
}

.totalInvGraph{
  width: 250px;

}