.App {
  text-align: center;
  background-color:#ffffff;
}

body {
  font-size: 25px;
  
}

/**** NAVBAR ****/

.MyNavBar{
  display: flex;
  flex-direction: row;
} 

.nav-links .selected{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0;
}

.navbar-expand {
  justify-content: space-between !important;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-end;
}

.navbar-home-link {
  text-decoration: none;
  color: white;
}

.nav-profile-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown-menu {
  right: 5px;
}

.linksDropDown{
  color:#000000;
  text-decoration: none !important;
}

.linksDropDown:hover {
  color: #000000;
}


/**** FOOTER ****/

.MyFooter {
  bottom: 0;
  padding: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 60px;
  line-height: 60px;
  background-color: #0e0e0e;
  text-align: center;
  position:fixed
}

.text-footer {
  margin-right: 40px;
  color:white;
}

.text-muted {
  text-decoration: none;
}

/**** ABOUT PAGE ****/

.aboutPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoAboutPage{
  margin-right: 50px;
  display: flex;

}

.logoAPage{
  width: 280px;
  height: 260px;
  margin-left: 80px;
}

.email{
  color: green;
}

.linksAboutPage{
  display: flex;
  justify-content: flex-end;
  color:#000000;
  margin-top: 70px;
  margin-right: 15em;
}

.spaceLinks{
  padding-right: 10px;
  text-decoration: none;
  color: black;
}

.textAboutPage{
  width: 750px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  
}

.infoAboutUs{
  margin-top: 20px;;
}


/**** HOME PAGE ****/

.logoHPage{
  width: 250px;
  height: 200px;
}

.alertMessage {
  margin-left: 15em;
  width: 600px;
  height: 25px;
  font-size: 12px;
  margin-bottom: 20em;
}

.homePageAcordeon{
  align-items: flex-end
}

.linksHP{
  margin-left: 20px;
  text-decoration: none;

}
.middleSpaceHP{
  margin-bottom: 40px !important; 
}

.homePageTop{
  display: flex;
  justify-content: flex-start;
}

.logoHomePage{
  display: flex;
  justify-content: flex-end;
  margin-right: 10em;
}

.linksHomePage{
  display: flex;
  color:#000000;
  margin-top: 70px;
  margin-left: 8em;
}

.textLabel{
  color: black;
  font-size: 12px;
}

.textValue{
  font-size: 30px;
  border: #000000;
  display: flex;
}

/**** DASHBOARD ****/

.firstLevelDashboard{
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;
}

.pieChart{
  margin-right: 30px ;
}

.headPieChart{
  margin-left: 15px;
  margin-top: 20px;
  font-size: 22px;
  border: #000000;
  justify-content: center;
  color: red;
}

.dashboardAccordeon{
  width: 600px;
  margin-left: 30px;
}

.totalInvGraph{
  width: 250px;
}

/**** EDIT PROFILE ****/


.profileImage{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-top: 50px; 
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.formInput{
  width: 500px;
  height: 60px;
  align-self: center;
  padding: 10px;
  margin-top: 20px;
}

.buttonProfile{
  margin-top: 40px;
  margin-left: 33%;
}

.editIcon{
  display: flex;
  justify-content: flex-end;
  color:#000000;
  text-decoration: none;
}

.editIcon:hover{
  color: black;
}

.buttonEditProfile{
  display: flex;
  flex-direction: row;
}

/*** SIGN IN and UP ****/

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.signInForm{
  font-size: 20px;
}

.submitButton{
  margin-top: 40px;
  display: flex;
}

.logoSign{
  width: 250px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.formSign{
  width: 500px;
  align-self: center;
}


