.App {
  text-align: center;
  background-color:#000000;
}

body {
  background-color: #000000;
  color: white;
}

.title {
  color: #f7931a;
  font-size: 40px;
}

/**** NAVBAR ****/

.MyNavBar{
  display: flex;
  flex-direction: row;

} 

.nav-links .selected{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-end;
}


.nav-profile-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navbar-nav{
  right: 60px;
  position: absolute;
}




/**** FOOTER ****/

.MyFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #000000;
}

.FooterContainer{
  display: flex;
  text-align: center;
}


/**** HOME PAGE ****/

.logoHomePage{
  display: flex;
  align-content: flex-end;

}

.alertMessage {
  width: 200px;
  height: 50px;
  font-size: 12px;
}